@model string[]

@{
    ViewData["Title"] = "Values";
}

<h1>Values</h1>

@if (Model?.Length == 0)
{
    <p>No values were returned</p>
}
else
{
<ul>
    @foreach (var value in Model)
    {
        <li>Value: @value</li>
    }
</ul>
}